
//COLORS
$offblack: #10050B;
$purple-dk: #451F59;
$purple: #754473;
$offwhite: #e8e8e8;

$color-base: $offblack;
$color-border: $offblack;
$color-highlight: $purple-dk;
$color-background: $offwhite;

//FONTS
$font-base: Futura, 'Trebuchet MS', Arial, sans-serif;
$font-heading: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman',
serif;
